<div class="row g-4 justify-content-center">
    <div class="col-md-6 col-lg-6 col-xl-4" *ngFor="let tempProduct of productList">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <a routerLink="/product/{{tempProduct.id}}">
                    <img src="{{ tempProduct.imageUrl }}" alt="{{ tempProduct.name }}" class="img-fluid w-100 rounded-top">
                </a>
            </div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <a routerLink="/product/{{tempProduct.id}}">
                    <h4>{{ tempProduct.name }}</h4>
                </a>
                <p>{{ tempProduct.description }}</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">${{ tempProduct.unitPrice }}</p>
                    <button (click)="addToCart(tempProduct)" class="btn border border-secondary rounded-pill px-3 text-primary"><i
                            class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            <ngb-pagination [(page)]="pageNumber"
                            [pageSize]="pageSize"
                            [collectionSize]="totalElements"
                            (pageChange)="listProducts()"></ngb-pagination>
        </div>
    </div>
    <div class="col-xl-3 bg-light rounded d-flex justify-content-between mb-4">
        <span class="mr-2">Page size</span>
        <select class="border-0 bg-light me-3"  #userPagination (change)="updatePageSize(userPagination.value)">
            <option *ngFor="let size of [2, 3, 5]" [value]="size">{{ size }}</option>
        </select>
    </div>
    <div *ngIf="productList?.length == 0" class="alert alert-warning" role="alert">
        No products found.
    </div>
</div>