<app-navbar></app-navbar>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Fresh fruits shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row mb-3 mt-2">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <app-search></app-search>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <app-product-category-menu></app-product-category-menu>
                            </div>
                            <div class="col-lg-12">
                                <app-price-filter></app-price-filter>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>